<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../assets/css/globalStyles.css">
    <link rel="stylesheet" href="../assets/css/errorStyles.css">
    <link rel="stylesheet" href="./../../src/assets/fontawesome/css/fontawesome.css">
    <link rel="stylesheet" href="./../../src/assets/fontawesome/css/solid.css">
    <title>Error</title>
</head>

<body>
    <div class="app-container">
        <header id="includedContent"></header>

        <div class="main-container">
            <div class="contentBox">
                <p id="error-message" class="error">Something went wrong!</p>
            </div>
        </div>
    </div>
    <script  type="module" src="../../built/assets/scripts/headerHandler.js"></script>
    <script  type="module" src="../../built/assets/scripts/errorScript.js"></script>

</body>

</html>