<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../assets/css/gameStyles.css">
  <script src="https://kit.fontawesome.com/1dca7e92a5.js" crossorigin="anonymous"></script>
  <title>Guess Number Game</title>
</head>

<body>
  <div class="app-container">
    <div class="homeIcon" id="homeIcon">
      <button class="event" style=" width: 180%; cursor: pointer;" onclick="location.href='../../index.html'"><i
          class="fa-solid fa-house" style="color: white;"></i></button>
      </span>
    </div>

    <!--////////////////////////////////////////////////// ‌Game Box /////////////////////////////////////////////////// -->
    <div class="main-left">

      <!--////////////////////////////////////////////// Start Items //////////////////////////////////////////////-->

      <div class="startGame" id="startGame">
        <div class="startTitle">
          <h1>Do u wanna start?</h1>
        </div>
        <div class="startButtons">
          <button class="event" id="start">Yes</button>
          <button class="event" id="exit"><a href="../../index.html">No</a></button>
        </div>

      </div>

      <!--////////////////////////////////////////////// Game Items //////////////////////////////////////////////-->

      <div id="game" style="display: none;">
        <div class="logo-container">
          <h1>Guess Number</h1>
          <div style="width: 100%;">
            <br><br>
            <h2>I am thinking of a number Between 0-100<br></h2>
            <h2>Can you Guess it?</h2>
          </div>
        </div>
        <div class="game-container">
            <form id="form" class="user-input">
              <input id="guessinput" type="text" class="inputButtons">
              <button class="buttons" type="submit" id="submit">submit</button>
            </form>
          <!--Game result and scores shows in this p tags
          1st p tag: message for game result
          2nd p tag: message for show the number guessed by the user
          3rd p tag: message for show remaining chances -->
          <div class="show-result">
            <p id="msg1">You haven't guessed yet!</p>
            <p id="msg2">Start game with your first <strong>GUESS!</strong></p>
            <p id="msg3">Remaining Chances 5</p>
          </div>
        </div>
      </div>
      <div class="endGame" id="endGame" style="display: none;">
        <p id="message1"></p>
        <p id="message2"></p>
        <button class="event" id="restart">Restart</button>
        <button class="event" onclick="location.href='../../index.html'">Exit</button>
      </div>
    </div>

    <div class="main-right">
      <div class="logo-container">
        <h1>Top Player</h1>
      </div>

    </div>

    <script type="module" src="../assets/js/guessNumberScript.js"></script>
</body>

</html>