<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../assets/css/gameStyles.css">
  <link rel="stylesheet" href="../assets/css/globalStyles.css">
  <script src="https://kit.fontawesome.com/1dca7e92a5.js" crossorigin="anonymous"></script>
  <title>Guess Number Game</title>
</head>

<body>
  <div class="app-container">
    <header id="includedContent"></header>
    <!--////////////////////////////////////////////////// ‌Game Box /////////////////////////////////////////////////// -->

    <div class="main-container">
      <div class="contentBox">
        <!--////////////////////////////////////////////// Start Items //////////////////////////////////////////////-->

        <div class="gameEvent" id="gameEvent">
          <div class="event-content">
            <h1 id="headline">Do you want play?</h1>
            <p id="message1"></p>
          </div>
          <div class="event-btns">
            <button class="gameEventBtn" id="gameBtn">Lets Go!</button>&nbsp;&nbsp;
            <button class="gameEventBtn" onclick="location.href='../../index.html'">Exit</button>
          </div>
        </div>

        <!--////////////////////////////////////////////// Game Items //////////////////////////////////////////////-->

        <div id="games" style="display: none;">
          <div class="logo-container">
            <h1>Guess Number</h1>
            <div style="width: 100%;">
              <br><br>
              <h2>I am thinking of a number Between 0-100<br></h2>
              <h2>Can you Guess it?</h2>
            </div>
          </div>
          <div class="game-container">
            <form id="form" class="user-input">
              <input id="guessinput" type="text">
              <label id="errorMessage" class="error"></label>
              <button class="buttons" type="submit" id="submit">submit</button>
            </form>
            <!--Game result and scores shows in this p tags
          1st p tag: message for game result
          2nd p tag: message for show the number guessed by the user
          3rd p tag: message for show remaining chances -->
            <div class="show-result">
              <p id="guess-result" class="resultGame"></p>
              <!-- <p id="pTag2" class="resultGame"></p>
              <p id="pTag3" class="resultGame"></p> -->
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
    <script  type="module" src="../../built/assets/scripts/headerHandler.js"></script>
    <script type="module" src="../../built/assets/scripts/guessNumberScript.js"></script>
</body>
</html>