<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../assets/css/userRegisterStyle.css">
    <script src="https://kit.fontawesome.com/1dca7e92a5.js" crossorigin="anonymous"></script>
    <title>Guess Number Game</title>
</head>

<body>
    <div class="app-container">
        <div class="homeIcon" id="homeIcon">
            <button class="event" style=" width: 180%; cursor: pointer;" onclick="location.href='../../index.html'"><i
                    class="fa-solid fa-house" style="color: white;"></i></button>
        </div>
        <div class="main-container">
            <div class="form-section show" id="resetpass-section">
                <p>Enter your email to receive the password recovery link</p>
                <input type="email" name="email" id="email" placeholder="Email">
                <button id="submit-btn" class="primary-btn">Send</button>
            </div>
        </div>
    </div>
</body>

</html>