<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../assets/css/userRegisterStyle.css">
    <link rel="stylesheet" href="./../assets/css/globalStyles.css" />
    <script src="https://kit.fontawesome.com/1dca7e92a5.js" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
    <script>
      $(function () {
        $("#includedContent").load("./../../index.html #header-html");
      });
    </script>
    <title>Reset Password</title>
</head>

<body>
    <div class="app-container">
        <header id="includedContent"></header>
        <div class="main-container">
            <div class="contentBox">
                <div class="form-section show" id="sendemail-section">
                    <p>Enter your email to receive the password recovery link</p>
                        <input type="email" name="email" id="email" placeholder="Email">
                        <button id="sendEmail-btn" class="primary-btn">Send</button>
                </div>
                <div class="form-section" id="resetpass-section">
                    <p>Please enter your new password</p>
                        <input type="password" name="password" id="password" placeholder="password">
                        <input type="password" name="re-password" id="re-password" placeholder="confirm password">
                        <button id="resetpass-btn" class="primary-btn">Submit</button>
                </div>
            </div>
        </div>
    </div>

    <script src="../assets/js/resetPasswordScript.js"></script>
</body>

</html>