<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../assets/css/registerStyles.css">
    <script src="https://kit.fontawesome.com/1dca7e92a5.js" crossorigin="anonymous"></script>
    <title>Reset Password</title>
</head>

<body>
    <div class="mainContainer">
        <div class="homeIcon" id="homeIcon">
            <button class="event" style=" width: 180%; cursor: pointer;" onclick="location.href='../../index.html'"><i
                    class="fa-solid fa-house" style="color: white;"></i></button>
        </div>
        <div class="registerBox">
            <div class="formSection show" id="resetPassword">
                <input type="email" name="email" id="email" placeholder="Email for send reset password link">
                <button id="submitBtn" class="registerButton submitBtn">Submit</button>
            </div>
        </div>
    </div>
    <script src="../assets/js/userRegisterScript.js"></script>
</body>

</html>