<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <!DOCTYPE html>
    <html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../assets/css/userRegisterScript.css">
        <script src="https://kit.fontawesome.com/1dca7e92a5.js" crossorigin="anonymous"></script>
        <title>Guess Number Game</title>
    </head>
    <div class="app-container">
        <div class="homeIcon" id="homeIcon">
            <button class="event" style=" width: 180%; cursor: pointer;" onclick="location.href='../../index.html'"><i
                    class="fa-solid fa-house" style="color: white;"></i></button>
            </span>
        </div>
        <div class="main-container">
            <div class="buttons">
                <button data-id="signin-section" class="button primary-btn">Sign In</button>&nbsp;&nbsp;
                <button data-id="signup-section" class="button primary-btn">Sign Up</button>
            </div>
            <div class="form-section" id="signin-section">
                <input type="email" name="email" id="email" placeholder="Email or Username">
                <input type="password" name="password" id="password" placeholder="Password">
                <a id="resetLink" href="#"><span data-id="resetpass-section">Forgot Password?</span></a>
                <button id="submit-btn" class="primary-btn">Sign In</button>
            </div>
            <div class="form-section" id="signup-section">
                <input type="text" name="username" id="username" placeholder="Username">
                <input type="email" name="email" id="email" placeholder="Email">
                <input type="password" name="password" id="password" placeholder="Password">
                <input type="password" name="re-password" id="re-password" placeholder="Repeat Password">
                <button id="submit-btn" class="primary-btn">Sign Up</button>
            </div>
            <div class="form-section" id="resetpass-section">
                <p>Enter your email to receive the password recovery link</p>
                <input type="email" name="email" id="email" placeholder="Email">
                <button id="submit-btn" class="primary-btn">Send</button>
            </div>
        </div>
    </div>
    <script src="../assets/js/userRegisterScript.js"></script>
</body>

</html>