* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(12, 17, 26);
  font-family: TiltWarp-Regular;
}

a {
  text-decoration: none;
  color: inherit;
}

header {
  width: 100%;
  height: 8vh;
  background-color: rgb(10, 15, 21);
}

.header-container {
  width: 80%;
  height: 100%;
  display: flex;
  justify-content: center;
  margin-left: 10%;
  margin-right: 10%;
}

.logo-section {
  display: flex;
  align-items: center;
  justify-content: start;
}

.logo {
  width: 40%;
}

.profile-section {
  display: flex;
  justify-content: end;
  align-items: center;
  color: #979aa1;
}

.profile-pic {
  width: 20%;
  text-align: right;
  display: flex;
  justify-content: center;
  align-items: center;
}

.profile-circle {
  border-radius: 50%;
  width: 40px;
  height: 40px;
  outline: 1px solid gray;
  padding: 2px;
}

.username {
  display: flex;
}

.menu-nav {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: start;
  width: 100%;
  height: 100%;
  color: #979aa1;
}

.underline-active:hover {
  border-bottom: 5px solid #a02247;
  color: white !important;
}

.menu-nav li {
  width: auto;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 10%;
}

main {
  width: 100%;
  height: 92vh;
}

.game-showbox {
  width: 100%;
  height: 61%;
  background-image: url("../images/metro-exodus-7c.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
  background-position: center;
}

.game-showbox::after {
  display: block;
  content: "";
  position: relative;
  background: linear-gradient(
    0deg,
    rgba(12, 17, 26, 1) -1%,
    rgba(255, 255, 255, 0) 70%
  );
  z-index: 2;
  height: 100%;
  width: 100%;
}

.description-box {
  width: 40%;
  height: 45%;
  position: absolute;
  left: 10%;
  top: 12%;
  z-index: 3;
  padding-top: 5%;
}

.description-box h1 {
  color: white;
  font-size: 44pt;
  font-family: "TiltWarp-Regular";
  line-height: 60px;
}

.game-description {
  color: white;
  text-shadow: 2px 2px black;
  font-size: 14pt;
}

.top {
  height: 70%;
  width: 100%;
  transform: translateY(-10%);
  animation: floater 1.5s infinite;
  animation-duration: 5s;
  transition: ease 0.5s;
}

@keyframes floater {
  0% {
    transform: translateY(-10%);
    transition: ease 0.5s;
  }
  50% {
    transform: translateY(10%);
    transition: ease 0.5s;
  }
}

.bottom {
  height: 30%;
  width: 100%;
}

.genres-box {
  margin-top: 5px;
  display: flex;
}

.primary-btn {
  background-color: #eb0745;
  color: white;
  width: 40%;
  height: 5vh;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

.genres-item {
  width: 20%;
  background-color: #292f33;
  margin-left: 10px;
  border-radius: 5px;
  color: rgba(255, 255, 255, 0.795);
  text-align: center;
}

.card-container {
  width: 80%;
  height: 100%;
  margin-left: 10%;
  margin-right: 10%;
  display: flex;
  justify-content: space-between;
}

.card {
  width: 30%;
  height: 90%;
  background-color: #979aa1;
  border-radius: 10px;
}

.card:nth-child(odd) {
  scale: 0.8;
  filter: blur(2px);
  background-color: #787a7e;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16pt;
}

.game-slider {
  width: 100%;
  height: 39%;
}

.card-image-container {
  width: 100%;
  height: 100%;
  /* background-image: url('../images/metro.jpg');
  background-repeat: no-repeat;
  background-size: cover; */
  border-radius: inherit;
}

.card-image-container img {
  width: 100%;
  height: 100%;
  border-radius: inherit;
}

.bottom-card-container {
  position: relative;
  width: 100%;
  height: 25%;
  bottom: 25%;
  background-color: rgba(128, 128, 128, 0.8);
  border-bottom-left-radius: inherit;
  border-bottom-right-radius: inherit;
  display: flex;
  justify-content: space-between;
  padding: 10px;
}

.card-title {
  width: 50%;
  height: 100%;
}

h3 {
  font-size: 11pt;
  color: white;
}

.card-button-container {
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: end;
}

.bottom-card-container a {
  text-decoration: none;
  margin-left: 5%;
  display: block;
  width: 25%;
  height: 100%;
}

.card-button-container a span {
  display: flex;
  color: white;
  font-size: 20px;
  background-color: #db1349;
  width: 100%;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  height: 100%;
  cursor: pointer;
}

.w-50 {
  width: 50%;
}

.w-10 {
  width: 10%;
}

/*////////////////////////////////////////////// Top Player Headline Section & Containers //////////////////////////////////////////////*/

.topPlayerContainer {
  width: 100%;
  height: 60vh;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.headlinedSection {
  width: 100%;
  height: 20%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.leftHrDiv {
  width: 40%;
  height: 100%;
  display: flex;
  justify-content: end;
  align-items: center;
}

.rightHrDiv {
  width: 40%;
  height: 100%;
  display: flex;
  justify-content: start;
  align-items: center;
}

.headlineDiv {
  width: 20%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.topPlayerHeadline {
  color: white;
  font-size: 30pt;
  font-family: "TiltWarp-Regular";
  line-height: 60px;
}

hr {
  width: 40%;
  height: 0%;
}

/*////////////////////////////////////////////// Top Player box Section //////////////////////////////////////////////*/

.topPlayerSection {
  width: 80%;
  height: 60%;
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 1%;
  display: flex;
  color: white;
  justify-content: space-between;
}

.topPlayerBox {
  width: 28%;
  height: 100%;
  background-color: #979aa1;
  border-radius: 10px;
}

.topPlayerBox:nth-child(odd) {
  margin-top: 2%;
}

.playerPic {
  width: 100%;
  height: 39%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 8%;
}

.topPlayerPic {
  border-radius: 50%;
  border: transparent;
  width: 100px;
  height: 100px;
  outline: 1px solid transparent;
  padding: 2px;
}

.playerName {
  width: 100%;
  height: 25%;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
}

.topPlayerName {
  font-size: 1.3em;
  color: white;
}

.topUsername {
  font-size: 0.9em;
  color: rgba(57, 51, 51, 0.353);
}

.scoreSection {
  width: 100%;
  height: 45%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.scoreDetails {
  display: flex;
  flex-direction: column;
}

.playerScore {
  width: 30%;
  height: 30%;
  background-color: white;
  justify-content: start;
  border-radius: 70px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.scoreDetails p {
  color: rgba(57, 51, 51, 0.353);
}
.user-menu-section {
  display: flex;
  align-items: center;
  height: 100%;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #2a2d32;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 3;
  flex-direction: column;
  top: 8vh;
}

.user-menu-section:hover .dropdown-content {
  display: flex;
}

.dropdown-content a {
  color: #979aa1;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content:hover {
  display: flex;
}

.dropdown-content a:hover {
  color: white;
}

#login-sction a {
  display: inline-block;
}

#login-sction {
  height: 100%;
  display: flex;
  align-items: center;
}

.dropdown-item {
  padding: 12px 16px;
}

.dropdown-item:nth-child(3) {
  border-bottom: 1px solid gray;
}

@font-face {
  font-family: "TiltWarp-Regular";
  src: url("../fonts/TiltWarp-Regular.ttf");
}
