.show {
  display: flex !important;
}

.buttons {
  width: 100%;
  height: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form-section {
  display: none;
  color: white;
  width: 100%;
  height: 80%;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.form-section p {
  margin-bottom: 1em;
  font-size: 0.9em;
}

.primary-btn {
  background-color: #eb0745;
  color: white;
  width: 30%;
  height: 5vh;
  border: none;
  border-radius: 25px;
  cursor: pointer;
}

input {
  display: block;
  width: 50%;
  background-color: #f4f3f8;
  height: 10%;
  outline: none;
  border: none;
  border-radius: 25px;
  margin-bottom: 2vh;
  text-align: center;
  font-size: 0.9em;
}

input::placeholder {
  color: #2e2f30b0;
}

input:focus::placeholder {
  color: transparent;
}
.contentBox a {
  text-decoration: none;
  margin-bottom: 1em;
  color: white;
  font-size: 0.9em;
}

.contentBox {
  flex-direction: column;
}